language: python

python:
    - "2.7"
    - "3.3"
    - "3.4"
    - "3.5"

install:
    - pip install codecov
    - pip install -r dev-requirements.txt
    - pip install -e .

script:
    - make test

after_success:
  - codecov

notifications:
    email: false
